:root {
  /* Dark Mode Colors */
  --bg: #151515;
  --secondary: #45f4ea;
  --secondary-bg: #1b1b1b;
  --tertiery-bg: #262626;
  --text-color: #f8f8f8;
  --toggle: #000;
  --shadow: #121212;
  --bg-form: #2c2f2d;
  --bg-card: #090909;

  --font-alerta: "Allerta Stencil", sans-serif;
  --font-epi: "Epilogue", sans-serif;
  --font-title: "Teko", serif;
  background-color: var(--bg);
  color: var(--text-color);
}

:root.light {
  /* Light Mode Colors */
  --bg: #fdfdfd;
  --bg-card: #fefefe;
  --secondary: #03a59b;
  --secondary-bg: #f6f6f6;
  --tertiery-bg: #eeeeee;
  --text-color: #151515;
  --shadow: #ececec;
  --bg-form: #d8d8d8;
  --toggle: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
p,
h1 {
  transition: none;
}

#app {
  font-family: var(--font-epi);
  overflow-x: hidden;
  transition: all ease 0.5s;
  text-align: center;
}

.icon path {
  fill: var(--secondary);
}

.skill-icon {
  filter: grayscale(1);
  width: 38px;
}

.list-skills p:hover .skill-icon {
  filter: grayscale(0);
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.main {
  font-family: var(--font-title);
  padding: 2rem 0;
  font-size: 2rem;
  margin: auto;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 4rem;
  padding: 0.75rem 2rem;
  background-color: transparent;
  color: var(--secondary);
  border: 2px solid var(--secondary);
}

.visible {
  display: none;
}

.download svg path {
  fill: var(--secondary);
}

button:hover {
  background-color: var(--secondary);
  color: var(--bg);
}

button:hover .download svg path {
  fill: var(--bg);
}

.footer-credit {
  padding: 0.5rem 0;
  opacity: 0.5;
  font-family: var(--font-epi);
  text-align: center;
  color: var(--text-color);
}

.footer-credit a {
  color: var(--secondary);
}

.fn {
  font-family: var(--font-epi);
}
.fn small {
  color: grey;
  margin-top: 1rem;
}

@media screen and (max-width: 600px) {
  .main {
    font-family: var(--font-title);
    padding: 2rem 0 3rem;
    font-size: 2rem;
    margin: 0 auto;
  }
  .main .text-header {
    font-size: 2.5rem;
  }
}
