
:root {
  /* Dark Mode Colors */
  --bg: #151515;
  --secondary: #45F4EA;
  --secondary-bg:#1B1B1B;
  --tertiery-bg:#262626;
  --text-color: #F8F8F8;
  --toggle: #000;
  --shadow: #121212;
  --bg-form: #2C2F2D;

  --font-alerta: 'Allerta Stencil', sans-serif;
  --font-epi: 'Epilogue', sans-serif;
  --font-fjall: 'Imbue', serif;
  background-color: var(--bg);
  color: var(--text-color);

}


:root.light{
  /* Light Mode Colors */
  --bg: #FDFDFD;
  --secondary: #03A59B;
  --secondary-bg:#F6F6F6;
  --tertiery-bg:#EEEEEE;
  --text-color: #151515;
  --shadow: #ececec;
  --bg-form: #D8D8D8;
  --toggle: #D9D9D9;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
p,h1{
  transition: none;
}


#app {
  font-family: var(--font-epi);
  overflow-x: hidden;
  transition: all ease 0.5s;
  text-align: center;
}

.icon path {
  fill: var(--secondary);
}

.skill-icon {
  filter: grayscale(1);
  width: 38px;
}

.list-skills p:hover .skill-icon {
  filter: grayscale(0);
}

.wrapper{
  max-width: 1280px;
  margin: 0 auto;
}

.main {
  font-family: var(--font-fjall);
  padding: 5rem 0;
  font-size: 2rem;
  margin: 1rem auto;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 4rem;
  padding: 0.75rem 2rem;
  background-color: transparent;
  color: var(--secondary);
  border: 2px solid var(--secondary);
}

.visible {
  display: none;
}

.download svg path {
  fill: var(--secondary);
}

button:hover {
  background-color: var(--secondary);
  color: var(--bg);
}

button:hover .download svg path {
  fill: var(--bg);
}

.footer-credit{
  padding: .5rem 0;
  opacity: .5;
  font-family: var(--font-epi);
  text-align: center;
  color: var(--text-color);
}

.footer-credit a{
  color: var(--secondary);
}

.fn{
  font-family: var(--font-epi);
}
.fn small{
  color: grey;
  margin-top: 1rem;
}

@media screen and (max-width: 600px) {
  .main {
    font-family: var(--font-fjall);
    padding: 3rem 0;
    font-size: 2rem;
    margin: 2rem auto;
  }
  .main .text-header{
    font-size: 2.5rem;
  }
  
}